$titleColor: #ED6A5A; 
$sombraGris:0px 0px 30px 4px rgba(78,102,100,1);
$sombraGrisDos: 2px -3px 10px 10px rgba(0, 0, 0, 0.5);
$colorGrisAzulado: #5D576B;
$colorCianClaro: #9BC1BC;
$colorAmarilloFluo: #F4F1BB; 
$colorBordó: #260000;
$colorVerdeGrisaceo: #a0a59b; 
$colorNaranjaRojizo: #ED6A5A; 
$colorAmarilloClaro: #f0bf76;
$colorAzulOscuro:rgb(35, 42, 53);
$sombraAzulOscuro:rgba(40, 49, 63, 0.781);
$colorTexto: #333;
$box-shadow-color: rgba(0, 0, 0, 0.1);
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes movBotonIrArriba {
    0%   {right:10px; bottom:10px;}
    25%  {right:10px; bottom:14px;}
    50%  {right:10px; bottom:16px;}
    75%  {right:10px; bottom:14px;}
    100% {right:10px; bottom:10px;}
}